<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-9 offset-md-1">
            <h1 class="display-4">Page Note Found</h1>
            <hr>
            <p><i>404 Not Found</i></p>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>